name: Automated API Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js environment
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install Apifox CLI
      run: npm install -g apifox-cli

    - name: Running Test Scenario
      run: apifox run --access-token ${{ secrets.APIFOX_ACCESS_TOKEN }} -t 7457717 -e 38907307 -n 1 -r html,cli
   
    - name: Upload Test Report
      uses: actions/upload-artifact@v4
      with:
        name: api-test-report
        path: ./apifox-reports/*.html
